---  
import Layout from '../layouts/Layout.astro';  
---  

<Layout title="Portfolio de Valentin Garello">  
    <main class="w-screen flex flex-col items-center">  
        <section id="Inicio"></section>  
        <section id="SobreMi"></section>  
        <section id="Proyectos"></section>  
        <section id="Tecnologias"></section>  
    </main>  
</Layout>  

<style>  
    main {  
        max-width: 1200px;  
        margin: 0 auto;  
    }  
</style>
