<section class="flex justify-center items-center flex-col md:mt-32 mt-20 text-white animate-fade-in-left" id="SobreMi">
  <div class="w-full md:w-[800px]">
    <h1 class="text-4xl sm:text-2xl md:text-5xl lg:text-6xl font-bold md:mb-12 text-center mb-8">Mi Experiencia Programando</h1>
    <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical items-center justify-center">
      <li>
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="blue" class="h-5 w-5">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="timeline-start md:text-end mb-10">
          <time class="font-mono italic text-blue-500 text-xl sm:text-lg md:text-2xl lg:text-3xl">2022</time>
          <div class="sm:text-xl md:text-2xl lg:text-3xl font-bold text-blue-300">Comienzos en la programacion</div>
          <p class="text-xs sm:text-sm md:text-md lg:text-lg w-[300px] sm:w-[450px] md:w-[700px] lg:w-[700px] mb-2">Mis primeros pasos programando fueron en la Universidad donde empece estudiando C++, lenguaje con el cual empece a entender las logicas de programacion y con el cual empece a utilizar las estructuras logicas para realizar programas cada vez mas complejos.</p>
        </div>
        <hr class="bg-blue-400"/>
      </li>
      <li>
        <hr class="bg-blue-400" />
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="blue" class="h-5 w-5">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="timeline-end mb-10">
          <time class="font-mono italic text-blue-500 text-xl sm:text-lg md:text-2xl lg:text-3xl">2023</time>
          <div class="sm:text-xl md:text-2xl lg:text-3xl font-bold text-blue-300">Argentina Programa 4.0</div>
          <p class="text-xs sm:text-sm md:text-md lg:text-lg w-[300px] sm:w-[450px] md:w-[700px] lg:w-[700px] mb-2">En este año entre al curso de Argentina Programa 4.0 para aprender desarrollo web. En la primer parte del curso aprendi HTML, CSS y JavaScript. Y en la segunda parte del curso empece a desarrollar paginas y aplicaciones con React JS.</p>
        </div>
        <hr class="bg-blue-400" />
      </li>
      <li>
        <hr class="bg-blue-400"/>
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="timeline-start md:text-end mb-10">
          <time class="font-mono italic text-blue-500 text-xl sm:text-lg md:text-2xl lg:text-3xl">2024</time>
          <div class="sm:text-xl md:text-2xl lg:text-3xl font-bold text-blue-300">Actualidad</div>
          <p class="text-xs sm:text-sm md:text-md lg:text-lg w-[300px] sm:w-[450px] md:w-[700px] lg:w-[700px] mb-2">
            Actualmente sigo aprendiendo nuevos lenguajes y tecnicas para poder implementarlos en el desarrollo de las paginas y aplicaciones.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
