<footer class="footer items-center p-4 glass brightness-150 h-20 flex justify-between">
    <aside class="items-center grid-flow-col md:ml-8 ml-4">
      <p class="font-bold text-white md:text-lg text-md">Portfolio Web de Valentin Luis Garello</p>
    </aside> 
    <nav class="grid-flow-col md:place-self-center md:justify-self-end md:mr-12 hover:text-blue-300 justify-center items-center">
        <a href="#Inicio" class="text-white font-bold hover:text-blue-500 text-lg mr-4">Volver al Inicio</a>
        <a href="mailto:garellovalentin@gmail.com" class=""><button class="btn btn-outline font-bold text-lg text-white">Contacto</button></a>
    </nav>
  </footer>