---

---

<header class="flex justify-center items-center animate-fade-in">
    <nav>
        <ul class="text-white flex flex-row gap-4 mt-4">
            <a href="#Inicio" class=" font-bold "><li class="border-r-2 border-white pr-2 border-b-2 hover:bg-[#191b46] rounded-sm hover:rounded-tl-lg hover:border-r-gray-400 hover:border-b-gray-400"><h1 class="pl-2 text-md sm:text-lg md:text-lg lg:text-xl">Inicio</h1></li> </a>
            <a href="#SobreMi" class="font-bold"><li class="border-r-2 border-white pr-2 border-b-2 hover:bg-[#191b46] rounded-sm hover:rounded-tl-lg hover:border-r-gray-400 hover:border-b-gray-400"><h1 class="pl-2 text-md  sm:text-lg md:text-lg lg:text-xl">Sobre Mi</h1></li> </a>
            <a href="#Proyectos" class=" font-bold"><li class="border-r-2 border-white pr-2 border-b-2 hover:bg-[#191b46] rounded-sm hover:rounded-tl-lg hover:border-r-gray-400 hover:border-b-gray-400"><h1 class="pl-2 text-md  sm:text-lg md:text-lg lg:text-xl">Proyectos</h1></li> </a>
            <a href="mailto:garellovalentin@gmail.com" class="font-bold"><li class="border-r-2 border-white pr-2 border-b-2 hover:bg-[#191b46] rounded-sm hover:rounded-tl-lg hover:border-r-gray-400 hover:border-b-gray-400"><h1 class="pl-2 text-md  sm:text-lg md:text-lg lg:text-xl">Contacto</h1></li> </a>
        </ul>
    </nav>
</header>