
---
import IMGProfile from '../assets/img/cv.jpg'
import LinkedinIcon from '../icons/Linkedin.astro'
import GithubinIcon from '../icons/Github.astro'
import VercelIcon from '../icons/Vercel.astro'
import { MdMail } from "react-icons/md"
import PDFCV from '../assets/pdf/CV.pdf'
---

<main id="Inicio" class="flex justify-center items-center">
    <section class="md:mt-28 mt-16 flex flex-col md:flex-row md:justify-center animate-fade-in-left justify-center items-center md:text-center md:items-center">
        <div class="ml-24 sm:ml-0 flex justify-center w-[700px] sm:w-[1200px]">
            <div class="ml-8 mt-8 md:h-72 h-40 md:w-auto w-[100px] sm:w-[160px] md:mr-0 md:mb-0 md:mt-8">
                <img src={IMGProfile.src} alt="Foto" class="rounded-full w-20 h-20 md:w-48 md:h-48 shadow-md shadow-blue-400 border-2-white"/>
            </div>
            <div class="ml-3">
                <div class="sm:flex sm:justify-center sm:items-center flex">
                    <h1 class="text-white font-bold text-lg sm:text-sm md:text-md lg:text-5xl w-[180px] sm:w-[450px] md:w-[700px] lg:w-[630px] md:mb-3 mb-1 text-center md:text-left">Valentin Luis Garello</h1> 
                <div class="">
                    <a
                      href={PDFCV}
                      download="CV.pdf"
                      class="bg-blue-500 hover:bg-blue-700 border-2-blue-200 text-white text-xs sm:text-lg font-bold sm:py-2 sm:px-4 py-1 px-2 rounded"
                    >
                      Descargar CV
                    </a>
                  </div>
                </div>
                <p class="text-white font-semibold text-justify text-xs sm:text-lg w-[260px] sm:w-[410px] md:w-[700px] lg:w-[600px] md:ml-0 md:leading-small leading-tight">Tengo 21 años, soy un <span class="text-bold text-blue-300">Desarrollador web</span> especializado en el <span class="text-bold text-blue-300">Front-end</span> y estudiante de <span class="text-bold text-blue-300">Ingenieria en Sistemas</span>. LLevo 1 año estudiando Lenguajes de programacion y ademas de lo aprendido en mi carrera he realizado los cursos de <span class="text-bold text-blue-300">Argentina Programa 4.0</span>. Espero poder seguir aprendiendo nuevas tecnologias y poder aplicarlas en un futuro trabajo.</p>
                <ul class="text-white font-bold sm:flex-row sm:flex mt-5 md:ml-0 ml-3">
                <div class="">
                    <div class="sm:flex flex flex-col">
                        <div class="border border-blue-200 rounded-full p-1 glass brightness-150 hover:brightness-200 hover:animate-bouncing ">
                            <a href="https://github.com/valentinggggg">
                                <li class="cursor-pointer flex gap-2 text-md md:p-0 pr-2 pl-2">Github<GithubinIcon class="w-6 h-6" title="Github"/></li>
                            </a>
                        </div>
                        <div class="border border-blue-200 rounded-full p-1 pl-3 pr-3 glass brightness-150 hover:brightness-200 hover:animate-bouncing mb-2 md:mb-0 md:ml-2">
                            <a href="https://www.linkedin.com/in/valentin-luis-garello-552b872a8/" >
                                <li class="cursor-pointer flex gap-2 text-md md:p-0 pr-2 pl-2">Linkedin<LinkedinIcon class="w-6 h-6" title="Linkedin"/></li>
                            </a>
                        </div>

                        <div class="border border-blue-200 rounded-full p-1 pl-3 pr-3 glass brightness-150 hover:brightness-200 hover:animate-bouncing mb-2 md:mb-0 md:ml-2">
                            <a href="https://vercel.com/valentins-projects-238cc06d" >
                                <li class="cursor-pointer flex gap-2  text-md md:p-0 pr-2 pl-2">Vercel<VercelIcon class="w-6 h-6" title="Vercel"/></li>
                            </a>
                        </div>
                    </div>
                        <div class="border border-blue-200 rounded-full contrast-100 bg-blue-800 hover:brightness-90 md:ml-2 md:visible invisible md:mt-4 w-64 h-9 hover:cursor-pointer flex justify-center items-center">
                            <a href="mailto:garellovalentin@gmail.com" class="justify-center items-center flex">
                                <li class="cursor-pointer flex gap-1 md:text-md text-md justify-center items-center text-white"><MdMail className="w-5 h-5 mt-1" title='Gmail'/> garellovalentin@gmail.com </li>
                            </a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </section>
</main>


 
